@{
    ViewData["Title"] = "Filter Result";
    var json = ViewData["JSON"] as string;
}

<p>
    @json
</p>

<a class="btn btn-outline-primary align-middle" asp-action="Audit"> Back to Products History</a>